@page "/Entradas/Index"
@inject ProductosService productosService
@inject EntradasService entradasService
@rendermode InteractiveServer

<PageTitle> Index Entradas </PageTitle>

<div class="container mt-3">
    <div class="card shadow-lg">

    </div>
</div>

@code {

}
